@charset "UTF-8";

body {
	background-image: url(../img/background.png);
}
h1 {
	color: #73B183;
	text-align: center;
	margin: 0;
}
.basket-header {
	height: 40px;
}
.basket-header>div {
	height: 40px;
}
.basket-header-nav-icon {
	height: 40px;
	padding-top: 10px;
	font-size: 20px;
	cursor: pointer;
}
.panel-list-item {
	min-height: 80px;
	margin-bottom: 2px;
}
.panel-list-users {
	min-height: 80px;
	margin-bottom: 2px;
}
.panel-list-lists {
	cursor: pointer;
	min-height: 80px;
	margin-bottom: 2px;
}
.container-list-container {
	max-width: 680px;
}
.cursor-pointer {
	cursor: pointer;
}
.comments-toggle {
	display: block;
}

/*** responsive adjustments ***/
/* md */
@media (min-width: 992px) {}

/* sm */
@media (min-width: 768px) {}

/* xs */
@media (min-width: 640px) {}

/* xxs */
@media (min-width: 480px) {}

/* retina 2x */
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi) {}