<div class="basket-header">
	<div class="header-back-icons">
		<div class="glyphicon glyphicon-arrow-left basket-header-nav-icon" ng-click="goBack()"></div>
	</div>
	<div class="header-title">
		<h1><span>{{list.name}}</span></h1>
	</div>
	<div class="header-extras-icons">
		<div ng-show="list.owner_id === currentUser.id" class="glyphicon glyphicon-cog basket-header-nav-icon" ng-click="listEdit()"></div>
		<div ng-show="list.owner_id !== currentUser.id" class="glyphicon glyphicon-lock basket-header-nav-icon cursor-not-allowed"></div>
	</div>
</div>
<ul class="list-unstyled">
	<li class="panel panel-default panel-items" ng-repeat="item in items | itemInList:list.id track by item.id" >
		<div class="panel-body" ng-controller="ItemCtrl" ng-class="{editing: isEditing}">
			<div class="item-checkbox">
				<input class="item-checkbox-hidden" type="checkbox" id="item-checkbox-{{item.id}}" ng-model="itemCheck" ng-change="setCheckBox(itemCheck)">
				<label class="checkbox-toggle cursor-pointer" for="item-checkbox-{{item.id}}"></label>
			</div>
			<div class="item-main">
				<div class="item-name-label cursor-pointer" ng-click="startItemEdit()"><span class="item-name">{{item.name}}</span></div>
				<form class="item-name-edit">
					<div class="input-group">
						<div class="cancel-edit cursor-pointer" ng-click="cancelItemEdit()">
							<span class="glyphicon glyphicon-repeat"></span>
						</div>
						<input type="text" class="form-control" ng-model="newItemName">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="saveItemEdit(newItemName)" type="submit">save</button>
						</span>
					</div>
				</form>
				<div class="item-sub">added {{item.added_date | date:'medium'}} by {{getUser(item.owner_id).name}} </div>
				<a class="comments-toggle toggle-link green" href="" ng-click="commentsIsCollapsed = !commentsIsCollapsed; assignmentIsCollapsed = false">
					<span class="glyphicon glyphicon-comment"></span>
					<span class="toggle-label">Comments</span>
					({{filteredComments.length}})
				</a>
				&nbsp;&nbsp;&nbsp;
				<a class="assignment-toggle toggle-link green" href="" ng-click="assignmentIsCollapsed = !assignmentIsCollapsed; commentsIsCollapsed = false">
					<span class="glyphicon glyphicon-user"></span>
					<span class="toggle-label">Assigned to</span>
					{{getUser(item.assigned_to_id).name}}
				</a>
				<div class="comment-blocks" ng-model="comments">
					<div class="comment-area" uib-collapse="!commentsIsCollapsed">
						<div class="comment-block" ng-model="comments" ng-repeat="comment in filteredComments = (comments | commentForItem:item.id) track by comment.id">
							{{comment.comment}} - {{getCommentOwner(comment).name}}
						</div>
						<form ng-submit="addComment(item.id, enteredComment)">
							<div class="input-group">
							<input type="text" class="form-control" ng-model="enteredComment" placeholder="Add a comment...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Submit</button>
							</span>
							</div>
						</form>
					</div>
				</div>
				<div class="assignment-blocks">
					<div class="assignment-area" uib-collapse="!assignmentIsCollapsed">
						Assign to: 
						<span ng-repeat="user in users | assignableUsers:list track by user.id">
							<span ng-show="!$first"> | </span>
							<a class="assignment-block" href="" ng-click="assignItem(user.id); $parent.assignmentIsCollapsed = false">{{user.name}}</a>
						</span>
					</div>
				</div>
			</div>
			<div class="item-extras">
				<div class="cursor-pointer" ng-click="deleteItem()">
					<span class="glyphicon glyphicon-trash"></span>
				</div>
			</div>
		</div>
	</li>
</ul>

<div class="container-fluid">
	<div class="col-xs-12">
		<form ng-submit="addItem(enteredItemName); enteredItemName = ''">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="enteredItemName" placeholder="Add item...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Add!</button>
				</span>
			</div>
		</form>
	</div>
</div>