<div class="container container-list-container">
	<div class="container-fluid">
		<div class="row basket-header">
			<div class="col-xs-1">
				<div class="glyphicon glyphicon-arrow-left basket-header-nav-icon" ng-click="goBackToUsers()"></div>
			</div>
			<div class="col-xs-10">
				<h1>{{user.name}}</h1>
			</div>
			<div class="col-xs-1">
				<div class="glyphicon glyphicon-pencil basket-header-nav-icon"></div>
			</div>
		</div>
	</div>
	<ul class="list-unstyled">
		<li class="panel panel-default panel-list-lists cursor-pointer" ng-click="selectList(list)" ng-repeat="list in lists | userHasAccess:user.id" >
			<div class="panel-body">
				<div>{{list.name}}</div>
				<div>Items: {{countItems(list.id)}}</div>
			</div>
		</li>
	</ul>
	<form ng-submit="addList(enteredListName)">
		<input type="text" ng-model="enteredListName">
		<input type="submit" value="add">
	</form>
</div>