
<div class="basket-header">
	<div class="header-back-icons">
		<div class="glyphicon glyphicon-arrow-left basket-header-nav-icon" ng-click="goBack()"></div>
	</div>
	<div class="header-title">
		<h1><span contentEditable="true">{{list.name}}</span></h1>
	</div>
	<div class="header-extras-icons">
		<div class="glyphicon glyphicon-cog basket-header-nav-icon" ng-click="edit()"></div>
	</div>
</div>

<ul class="list-unstyled">
	<li class="panel panel-default" ng-repeat="item in items | itemInList:list.id track by $index" >
		<div class="panel-body">
			<div class="item-checkbox">
				<input class="item-checkbox" type="checkbox" id="item-checkbox-{{$index}}">
				<label class="checkbox-toggle" for="item-checkbox-{{$index}}"></label>
			</div>
			<div class="item-main">
				<div><span class="item-name">{{item.name}}</span></div>
				<div class="item-sub">added {{item.added_date | date:'medium'}} by {{getUser(item.owner_id).name}} </div>
				<a class="comments-toggle toggle-link" href="" ng-click="commentsIsCollapsed = !commentsIsCollapsed; assignmentIsCollapsed = false">
					<span class="glyphicon glyphicon-comment"></span>
					<span class="toggle-label">Comments</span>
					({{filteredComments.length}})
				</a>
				&nbsp;&nbsp;&nbsp;
				<a class="assignment-toggle toggle-link" href="" ng-click="assignmentIsCollapsed = !assignmentIsCollapsed; commentsIsCollapsed = false">
					<span class="glyphicon glyphicon-user"></span>
					<span class="toggle-label">Assigned to</span>
					{{getUser(item.assigned_to_id).name}}
				</a>
				<div class="comment-blocks" ng-model="comments">
					<div class="comment-area" uib-collapse="!commentsIsCollapsed">
						<div class="comment-block" ng-model="comments" ng-repeat="comment in filteredComments = (comments | commentForItem:item.id) track by $index">
							{{comment.comment}} - {{getCommentOwner(comment).name}}
						</div>
						<form ng-submit="addComment(item.id, enteredComment)">
							<input type="text" ng-model="enteredComment">
							<input type="submit" value="add">
						</form>
					</div>
				</div>
				<div class="assignment-blocks">
					<div class="assignment-area" uib-collapse="!assignmentIsCollapsed">
						<a class="assignment-block" href="" ng-repeat="user in assignableUsers track by $index">{{user.name}}</a>
					</div>
				</div>
			</div>
			<div class="item-extras">
				<span class="glyphicon glyphicon-trash"></span>
			</div>
		</div>
	</li>
</ul>

<div class="container-fluid">
	<div class="col-lg-6">
		<form ng-submit="addItem(enteredItemName)">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="enteredItemName" placeholder="Add Item...">
				<span class="input-group-btn">
				<button class="btn btn-default" type="button">Add!</button>
				</span>
			</div>
		</form>
	</div>
</div>