<div class="container-fluid">
	<div class="row basket-header">
		<div class="col-xs-1">
			<div class="glyphicon glyphicon-arrow-left basket-header-nav-icon" ng-click="goBack()"></div>
		</div>
		<div class="col-xs-10">
			<h1>List Settings</h1>
		</div>
		<div class="col-xs-1">
			
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
		<div class="form-group">
			<label for="listNameInput">List Name</label>
			<input type="text" class="form-control input-editable" id="listNameInput" ng-model="listNameChange">
		</div>
			<div>Name: {{list.name}}</div>
		</div>
		<div class="col-xs-12">
			<button class="btn btn-default" type="submit"></button>
		</div>
	</div>
</div>