<div ng-controller="UserCtrl" class="container container-list-container">
	<div class="basket-header">
		<div class="header-title">
			<h1><span>Users</span></h1>
		</div>
	</div>
	<div class="container-fluid">
		<ul class="list-unstyled">
			<li class="panel panel-default" ng-click="selectUser(user)" ng-repeat="user in users track by user.id">
				<div class="panel-body">
					<div>{{user.name}}</div>
				</div>
			</li>
		</ul>

		<form ng-submit="addUser(enteredUserName)">
			<input type="text" ng-model="enteredUserName">
			<input type="submit" value="add">
		</form>
	</div>
</div>