<div class="container-fluid">
	<div class="row basket-header">
		<div class="col-xs-1">
			<div class="glyphicon glyphicon-arrow-left basket-header-nav-icon" ng-click="goBack()"></div>
		</div>
		<div class="col-xs-10">
			<h1>{{user.name}}</h1>
		</div>
		<div class="col-xs-1">
			<div class="glyphicon glyphicon-pencil basket-header-nav-icon" ng-click="edit()"></div>
		</div>
	</div>
</div>
<div>
editing USER
</div>


<div class="basket-header">
	<div class="header-back-icons">
		<div class="glyphicon glyphicon-arrow-left basket-header-nav-icon" ng-click="goBack()"></div>
	</div>
	<div class="header-title">
		<h1><span>User Settings</span></h1>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12" ng-class="{editing: isEditingUserName}">
			<span class="big-label">Edit user name: </span>
			<div class="list-name-label" ng-click="startUserNameEdit()">{{user.name}} <span class="pencil-icon glyphicon glyphicon-pencil"></span></div>
			<form class="list-name-edit">
				<div class="input-group">
					<div class="cancel-edit" ng-click="cancelUserNameEdit()">
						<span class="glyphicon glyphicon-repeat"></span>
					</div>
					<input type="text" class="form-control" ng-model="newUserName">
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="saveuserNameEdit(newUserName)" type="submit">save</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>