<div class="container container-list-container">
	<div class="basket-header">
		<div class="header-title">
			<h1><span>Users</span></h1>
		</div>
	</div>
	<div class="container-fluid container-list-container basket-users">
		<ul class="list-unstyled">
			<li class="panel panel-default cursor-pointer" ng-click="selectUser(user)" ng-repeat="user in users track by user.id">
				<div class="panel-body text-center">
					<div class="basket-user-name">{{user.name}}</div>
				</div>
			</li>
		</ul>
		<div class="container-fluid">
			<form ng-submit="addUser(enteredUserName); enteredUserName = ''">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="enteredUserName" placeholder="Add user...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Add!</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>