<div class="basket-header">
	<div class="header-back-icons">
		<div class="glyphicon glyphicon-arrow-left basket-header-nav-icon" ng-click="goBack()"></div>
	</div>
	<div class="header-title">
		<h1><span>{{user.name}} Lists</span></h1>
	</div>
	<div class="header-extras-icons">
		<div class="glyphicon glyphicon-cog basket-header-nav-icon" ng-click="userEdit()"></div>
	</div>
</div>
<div class="container-fluid">
	<ul class="list-unstyled">
		<li class="panel panel-default panel-list-lists cursor-pointer" ng-click="selectList(list)" ng-repeat="list in lists | userHasAccess:user.id track by list.id" >
			<div class="panel-body">
				<div>{{list.name}}</div>
				<div>Items: {{countItems(list.id)}}</div>
			</div>
		</li>
	</ul>
	<form ng-submit="addList(enteredListName)">
		<input type="text" ng-model="enteredListName">
		<input type="submit" value="add">
	</form>
</div>